<% @cart.orders.each do |order| %>
    <% product = order.product %>
      <p>Name: <%= product.name %></h3>
      <p>Price: <%= number_to_currency product.price / 100.0 %></p>
      
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: order.quantity, min: 0 %>
        <%= f.submit "Add to Cart" %>
      <% end %>
      
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: order.id %>
        <%= f.submit "X" %>
      <% end %>
      
      <strong>Total:</strong><%= number_to_currency(order.total / 100) %>
      <br>
      <br>
<% end %>