<% @cart.orders.each do |order| %>
    <% product = order.product %>
      <% if product.image.attached? %>
        <%= image_tag product.image %>
      <% else %>
        <%= image_tag asset_path('no_image.jpg'), size: "240x300"  %>
      <% end %>
      <h3><%= link_to product.name, product %></h3>
      <p>Price: <%= number_to_currency product.price / 100.0 %></p>
      <p><%= product.description %></p>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: order.quantity, min: 0 %>
        <%= f.submit "Add to Cart" %>
      <% end %>
      
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: order.id %>
        <%= f.submit "X" %>
      <% end %>

      <strong>Total:</strong><%= order.total %>
    <% end %>
<% end %>